@model IEnumerable<BookSwapping.Models.ViewModels.Library.GetAllSharedBooksFromUserViewModel>
@{
    ViewData["Title"] = "UserBook";
}

@for (int i = 0; i < Model.Count(); i++)
{
    if (i % 5 == 0)
    {
        <br />
    }
    var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.ElementAt(i).ImageContent));

    <div class="row d-inline-flex">
        <div class="col">
            <a asp-action="BookDetails" asp-controller="Book" asp-route-bookId="@Model.ElementAt(i).BookId" class="figure text-center">
                <img  src="@img" class="figure-img img-fluid rounded" alt="@Model.ElementAt(i).BookName">
                <figcaption class="figure-caption text-center" >@Model.ElementAt(i).BookName</figcaption>                
            </a>
        </div>

    </div>
}

